.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.search img {
  height: 10px;
}

.first-container {
  padding: 20px 50px;
  background-color: #20b8ea;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.search {
  background-color: white;
  color: #c9cbce;
  min-width: 300px;
  padding: 0px 20px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Assistant-SemiBold';
}


.main-page {
  background-color: #efefef;
  padding: 5% 20%;
  text-align: center;
}

.contact {
  font-size: 20px
}

.container {
  padding-top: 70px;
  font-family: 'Assistant-SemiBold';
}


input {
  border: none;
}


