@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,500,600,700&display=swap');



body {
  margin: 0;
  font-family: "Assistant", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  color: #1b1a20;
  font-family: 'Assistant', sans-serif;
}

code {
  font-family: "Assistant", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

 @font-face {
    font-family: Assistant;
    src: local('./assets/fonts/Assistant.ttf');
    src: local('./assets/fonts/Assistant.ttf?#iefix') format('embedded-opentype'), local('./assets/fonts/Assistant.ttf') format('truetype');
  }

//  @font-face {
//     font-family: Assistant;
//     src: local('./assets/fonts/Assistant-Regular.ttf');
//     src: local('./assets/fonts/Assistant-Regular.ttf?#iefix') format('embedded-opentype'), local('./assets/fonts/Assistant-Regular.ttf') format('truetype');
//   }

//   @font-face {
//     font-family: Assistant-Bold;
//     src: local('./assets/fonts/Assistant-Bold.ttf');
//     src: local('./assets/fonts/Assistant-Bold.ttf?#iefix') format('embedded-opentype'), local('./assets/fonts/Assistant-Bold.ttf') format('truetype');
//   }

  // @font-face {
  //   font-family: Assistant-SemiBold;
  //   src: local('./assets/fonts/Assistant-SemiBold.ttf');
  //   src: local('./assets/fonts/Assistant-SemiBold.ttf?#iefix') format('embedded-opentype'), local('./assets/fonts/Assistant-SemiBold.ttf') format('truetype');
  // }





// @font-face {
//   font-family: Assistant;
//   src: local('./assets/fonts/Assistant-Regular.ttf');
//   src: local('./assets/fonts/Assistant-Regular.ttf?#iefix') format('embedded-opentype'), local('./assets/fonts/Assistant-Regular.ttf') format('truetype');
// }

// @font-face {
//   font-family: Assistant-Bold;
//   src: local('./assets/fonts/Assistant-Bold.ttf');
//   src: local('./assets/fonts/Assistant-Bold.ttf?#iefix') format('embedded-opentype'), local('./assets/fonts/Assistant-Bold.ttf') format('truetype');
// }

// @font-face {
//   font-family: Assistant-SemiBold;
//   src: local('./assets/fonts/Assistant-SemiBold.ttf');
//   src: local('./assets/fonts/Assistant-SemiBold.ttf?#iefix') format('embedded-opentype'), local('./assets/fonts/Assistant-SemiBold.ttf') format('truetype');
// }


// @font-face {
//   font-family: Assistant;
//   src: local('./assets/fonts/Assistant.ttf');
//   src: local('./assets/fonts/Assistant.ttf?#iefix') format('embedded-opentype'), local('./assets/fonts/Assistant.ttf') format('truetype');
// }



